# JWT
JWT_SECRET=your_access_token_secret
JWT_RSECRET=your_refresh_token_secret

# Database (MySQL)
DB_NAME=serenova_db
DB_UNAME=root
DB_PASS=your_mysql_password
DB_PORT=3306

# Mail (SMTP)
MAIL_HOST=smtp.ethereal.email
MAIL_PORT=587
MAIL_USER=your_smtp_username
MAIL_PASS=your_smtp_password

# App
LOCALHOST_LINK=http://localhost:5173
